{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block welcomepic %}

    <div class="animsition" data-animsition-in-class="fade-in-down"
         data-animsition-in-duration="1000"
         data-animsition-out-class="fade-out-down"
         data-animsition-out-duration="800">

        <section class="jarallax background-image top-bar ">
            <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
            </div>
            <div class="container">
                <div class="mbr-section-btn align-center">
                    <a href="{{ path('editprofile') }}" class="btn btn-md btn-white display-4">
                        <span class="mbri-edit2 mbr-iconfont mbr-iconfont-btn"></span>Edit</a>
                    <a href="{{ path('deleteprofile') }}" onclick="return confirm('Are you sure ?')" class="btn btn-md btn-white-outline display-4">
                        <span class="mbri-trash mbr-iconfont mbr-iconfont-btn"></span>Delete</a>
                </div>
            </div>
        </section>


{% endblock %}
{% block body %}
    <div class="container mt90">
        <h5 class="text-center">Your profile</h5>

            <div class="col-md-8 m-auto">
                <div class="font-weight-light">
                    Username
                </div>
                    <div class="profiledesign"> {{ app.user.username }}</div>
                <div class="font-weight-light">
                    Firstname
                </div>
                    <div class="profiledesign"> {{ app.user.firstname }}</div>
                <div class="font-weight-light">
                    Lastname
                </div>
                    <div class="profiledesign"> {{ app.user.lastname }}</div>
                <div class="font-weight-light">
                    Email
                </div>
                    <div class="profiledesign"> {{ app.user.email }}</div>
            </div>
    </div>


</div>
{% endblock %}
{% block footer %}{% endblock %}



