{% for song in songs %}

    <div class="row mb-4 SongComponent">

        <div class="col-md-2 mt-auto mb-auto">
            <img src="{{ vich_uploader_asset(song, 'artwork')| imagine_filter('thumb') }}" alt=""
                 style="width: 100%; height: auto">
        </div>

        <div class="col-md-2">
            <h5>{{ song.name }}</h5>

            <div>
                {% for style in song.styles %}
                    <div class="badge badge-pill badge-primary">{{ style.title }} </div>
                {% endfor %}
            </div>

            Artiste :
            {% for artist in song.artists %}
                {{ artist.alias }}
            {% endfor %}
            <br/>

            Durée : <span class="waveform__duration"></span> min
        </div>

        {% if song.filename %}

            <div class="col-md-2 m-auto">
                <div class="controls">
                    <div class="btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary play-button" data-action="play">
                            <span class="fas fa-play"></span>
                        </button>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-heart"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="waveform{{ song.id }}" class="wafesurfer-block mt-4"
                     data-audio-file="{{ vich_uploader_asset(song, 'audioFile') }}"
                     style="position: relative">
                </div>
                <div class="waveform__counter" style="position: absolute"></div>
            </div>


        {% endif %}
    </div>
    <hr>

{% endfor %}

