{% for song in songs %}
<div class="row mb-4 SongComponent" >
        <div class="col-md-2 mt-auto mb-auto">
            <img src="{{ vich_uploader_asset(song, 'artwork')| imagine_filter('thumb') }}" alt="artwork"
                 style="width: 100%; height: auto">
        </div>

        <div class="col-md-2">
            <h5>{{ song.name }}</h5>
            <div>
                {% for style in song.styles %}
                    <div class="badge badge-pill badge-primary">{{ style.title }} </div>
                {% endfor %}
            </div>
            Artiste :
            {% for artist in song.artists %}
                {{ artist.alias }}
            {% endfor %}
            <br/>
            Durée : <span class="waveform__duration"></span> min
        </div>

        {% if song.filename %}
            <div class="col-md-2 m-auto">
                <div class="controls">
                    <div class="btn-group-sm text-center" role="group">
                        <button type="button" class="btn btn-primary play-button" data-action="play" name="Play-Pause"
                                aria-label="Play-Pause" title="Play-Pause">
                            <span class="fas fa-play"></span>
                        </button>

                        {% if app.user and not app.user.favorites.contains(song) %}
                        <a href="{{ path('addfavorite', {id: song.id}) }}" class="btn btn-primary addfavorites"
                           title="Add to your favorites" name="Add to your favorites" aria-label="Add to your favorites"
                        data-success-message="{{ song.name|e('html_attr') }} just added to your favorites">

                            {# Si le morceau existe dans favoris alors appliquer la class fa-check-circle
                            sinon .... #}



                            <i class="fas fa-heart"></i>

                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div id="waveform{{ song.id }}" class="wafesurfer-block mt-4"
                     data-audio-file="{{ vich_uploader_asset(song, 'audioFile') }}"
                     style="position: relative">
                </div>
                <div class="waveform__counter" style="position: absolute"></div>
            </div>


        {% endif %}
    </div>
    <hr>
{% endfor %}


