<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="Simple Music Library where you can find a huge amount of awesome songs">

    <title>{% block title %}MuLib!{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('assets/images/music-bar-png-120x120.png')}}" type="image/x-icon">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <section class="menu cid-rjuAVwK1uW" once="menu" id="menu2-1">
        <nav class="navbar navbar-expand navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('assets/images/music-bar-png-120x120.png') }}" alt="MuLib" title="MuLib"
                                 style="height: 3.8rem;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-black display-4" href="{{ path('home') }}">MuLib<br><br></a>
                    </span>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item">
                        {% if not app.user %}
                        <a class="nav-link link text-black display-4" href="{{ path('home') }}">
                            About Us
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if is_granted('ROLE_USER') %}
                        <a class="nav-link link text-black display-4 " href="{{ path('profile') }}">
                            <span class="mbr-iconfont mbr-iconfont-btn"></span>Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4 " href="{{ path('basket') }}">
                            <span class="mbr-iconfont mbr-iconfont-btn"></span>Favorites
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if app.user %}
                        <a class="nav-link link text-black display-4 " href="{{ path('logout') }}">
                            <span class="mbri-logout mbr-iconfont mbr-iconfont-btn"></span>Logout
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="nav-link link text-black display-4 " href="{{ path('easyadmin') }}">
                                <span class="mbr-iconfont mbr-iconfont-btn"></span>Admin
                            </a>
                        {% endif %}
                    </li>
                    <li class="nav-item" >
                        {% else %}
                            <a class="nav-link link text-black display-4" href="{{ path('app_login') }}">
                                <span class="mbri-login mbr-iconfont mbr-iconfont-btn"></span>Login
                            </a>

                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <div>
        {% for message in app.session.flashBag.get('success') %}

            <div class="alert alert-success alert-dismissible fade show fixed-top" style="width: 20%; text-align: center; margin: auto" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% endfor %}
    </div>

    {% block welcomepic %}
        <section class=" jarallax header6 background-image mbr-fullscreen " id="header6-2">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">MuLib</h1>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">Simple Music Library</p>
                    <div class="mbr-section-btn align-center">
                        {% if not app.user %}
                        <a class="btn btn-md btn-white display-4" href="{{ path('app_register') }}">
                            <span class="mbri-sites mbr-iconfont mbr-iconfont-btn"></span>Register</a>
                        {% endif %}
                        <a href="{{ path('song') }}" class="btn btn-md btn-white-outline display-4">
                            <span class="mbri-play mbr-iconfont mbr-iconfont-btn"></span>Browse</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
            <a href="#next">
                <i class="mbri-down mbr-iconfont"></i>
            </a>
        </div>
        </section>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
    <section class="cid-rjuBe8yFF4" id="footer5-5">
        <div class="container">
            <div class="media-container-row">
                <div class="col-md-3">
                    <div class="media-wrap">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('assets/images/music-bar-png-120x120.png') }}" alt="Mulib" title="Mulib">
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <p class="mbr-text align-right links mbr-fonts-style display-7">
                        <a href="#" class="text-black">ABOUT</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="text-black">TERMS</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="text-black">CONTACT</a>
                    </p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-md-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7"><a href="">
                                © Copyright 2019 David.F - All Rights Reserved
                            </a></p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">
                                <a href="" target="_blank">
                                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="" target="_blank">
                                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="" target="_blank">
                                    <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="" target="_blank">
                                    <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<div class="scrollUp"></div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.cursor.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>

{% endblock %}
</body>


</html>
